    html,
    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: #fff;
        text-align: center;
        line-height: 2rem;
        width: 100%;
        height: 100vh;
    }
    
    #app {
        height: inherit;
    }
    .tip {
        color:white
    }
    a{
        color:white;
    }
    .tips a {
        color: white;
        text-decoration: none;
    }
    
  
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    
    footer {
        width: 100%;
        color: #333;
        font-weight: bold;
        bottom: 0;
        top: auto;
        margin-top: 8%;
    }
    
    header.header .container {
        margin-left: 0.4rem;
    }
    
    header.header {
        text-align: left;
        background-color: rgb(61, 33, 33);
        color:blue;
        line-height: 3rem;
        width: 100%;
        height: 5rem;
        margin: 0;
    }
    
    .alert{
      text-align: center;
    }

    .tips a:hover {
        font-weight: bold;
        text-decoration: underline;
    }
    
    .alert-danger{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #fff;
      line-height: 2;
      background-color: rgb(202, 39, 39);
      overflow: hidden;
      font-size: 12px;
    }

    .alert-success{
      font-family: cursive;
      color: #fff;
      line-height: 2;
      background-color: rgb(42, 119, 58);
      overflow: hidden;
    }

    select {
      min-height: 5rem;
    }

    .header h1 {
        margin: 0;
      padding-top:10px;
        color: #fff;
    }
    
    .head {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        z-index: 99;
    }
    
    .container-x {
        overflow-y: auto;
    }
    
    .container {
        color: #333;
        padding: 0 4%;
    }
    
    .head .container {
        z-index: 99;
    }
    
    .form-head {
        padding-top: 1rem;
        color: #333;
    }
    
    .head .container h1 {
        color: #333;
        font-size: 4rem;
        margin: 0;
    }
    
    .head .container p a {
        font-weight: 900;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    .btn {
        text-decoration: none;
        color: #333;
        padding: 0.5rem 0.9rem;
        opacity: 1;
        border: none;
    }
    
    .head .btn {
        font-weight: 500;
    }
    
    .btn-block{
        width: 100%;
    }
    .btn:hover {
        background-color:green;
        color:white;
    }
    
    .btn-green {
        color: #fff;
        margin-top: 2rem;
    }
    
    .btn-red {
        color: #fff;
        background-color: #800000;
    }
    
    .btn-green {
        background-color: green;
        color: #fff;
    }
    
    .btn-green:hover {
        background-color:white;
        color: green;
    }
    
    .btn-red:hover {
        color: #fff;
        background-color: #fa2a2a;
    }
    
    .btn-border-y {
        color: #333;
    }
    
    .btn-border-y:hover {
        background-color: green;
        color: #fff;
    }
    
    .buttons {
        text-align: left;
        width: 95%;
        margin: 2rem 2.5% 0 2.5%;
    }
    
    .right {
        float: right;
    }
    
    .image {
        width: 100%;
        height: 100vh;
        background-image: url("../images/Internet-banking.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
    }
    h1.white span button{
        background-color: black;
        color: rgb(180, 64, 180);
        border: none;
    }
    section.grid {
        padding: 0;
        color: #333;
    }
    /*form*/
    
    form {
        padding: 1rem 0.6rem;
        text-align: left;
        color: #333;
    }
    
    form h3 {
        text-align: center;
    }
    
    label {
        font-family: "Italic" sans-serif;
        width: 100%;
        display: block;
    }
    
    .select {
        width: 100%;
        padding: 1rem 0.5rem;
        line-height: 3rem;
        color: #333;
        background-color: #ffffff;
    }
    
    .form-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 0.4rem;
    }
    
    .form-control {
        width: 100%;
        line-height: 2rem;
        padding: 0.2rem 0.7rem;
        color: #333;
        border:1px solid;
    }
    
    #input-half {
        display: block;
        width: 100%;
    }
    
    form input {
        font-size: 0.9rem;
    }
    
    form button {
        margin-top: 1rem;
        align-self: flex-end;
        width: 40%;
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .aside {
        color: #fff;
        height: 50px;
        position: relative;
    }
    
    .hide-bg {
        visibility: hidden;
    }
    
    @media (max-width: 700px) {
        .hide-bg {
            visibility: visible;
        }
        .aside {
            width: 100%;
            z-index: 99;
            height: 200px;
            max-height: 180px;
        }
        .user{
          max-height: 75px;
        }
        
        .x {
            padding-top: 4rem;
        }
    }
    
    .amount h2 {
        font-size: 1.2rem;
        line-height: 6rem;
        width: 95%;
        margin: 2rem 2.5% 0.9rem 2.5%;
    }
    
    .account-info {
        display: flex;
        background-color: #fff;
        justify-content: flex-start;
        width: 95%;
        margin: 0 2.5%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        flex-wrap: wrap;

    }
    
    .account-info li {
        width: 100%;
        padding: 1rem 0;
        color: #333;
    }
    
    .amount h2 {
        color: #333;
    }
    
    .account-info li p {
        margin: 0;
    }
    
    .main {
        width: 100%;
        background-color: #eaeaea;
        margin-top: 6.4rem;
        color: #800080;
    }
    
    .main-d {
        background-color: #eaeaea;
        margin-top: 4rem;
        color: #800080;
        padding-top: 2rem;
    }
    
    main.flex {
        height: 100%;
        color: #333;
        background-color: #eaeaea;
    }
    
    .active {
        color: #008000;
    }
    
    .deactivate {
        color: #333;
    }
    /*table*/
    
    .vertical-table {
        display: block;
        width: 95%;
        margin: 0 2.5%;
    }
    
    .vertical-table a {
        display: block;
        width: 95%;
        margin: 0 2.5%;
        padding: 0.5rem 0 0.5rem 0.5rem;
        text-decoration: none;
        color: #333;
        text-align: left;
    }
    
    .vertical-table a:hover {
        background-color: #000;
    }
    
    .vertical-table a:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .vertical-table a:nth-child(odd) {
        background-color: #f3f3f3;
    }
    
    table {
        border-collapse: collapse;
        color: #333;
        width: 95%;
        margin: 0 2.5%;
        margin-bottom: 3rem;
    }
    
    .overflow {
        overflow-x: auto;
        height: -webkit-fill-available;
    }
    
    table.hover {
        border-collapse: collapse;
        width: 95%;
    }
    
    .hover:hover {
        cursor: pointer;
    }
    
    table.hover tr,
    table.hover td,
    table.hover th {
        margin: 0;
    }
    
    th,
    td {
        text-align: center;
        padding: 8px;
    }
    
    .hover tr {
        cursor: pointer;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    th {
        background-color: #2c272c;
        color: white;
    }
    
    .status {
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .status-green {
        padding: 0.2rem 1.1rem;
        color: #2e114b;
    }
    
    .status-red {
        color: #2e114b;
    }
    
    .banner h3 {
        color: #333;
        text-align: right;
        padding-right: 1rem;
    }
    /*card*/
    
    .centee {
        width: 95%;
        margin: 0 2.5% 0 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80vh;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        /* 5px rounded corners */
        width: 40%;
        margin: 2rem 0;
        padding: 2rem 0;
        border: 1px solid #fff;
        color: #333;
        background-color: rgba(163, 162, 162, 0.2);
    }
    
    .card:hover {
        cursor: pointer;
        animation: 1s linear shake;
    }
    
    .cam:hover {
        cursor: pointer;
        animation: 1s linear shaker;
    }
    
    .card p {
        margin: 0;
    }
    
    @keyframes shake {
        from {
            margin-left: -2%;
        }
        to {
            margin-left: 0;
        }
    }
    
    @keyframes shaker {
        from {
            margin-right: -2%;
        }
        to {
            margin-right: 0;
        }
    }
    /* Add rounded corners to the top left and the top right corner of the image */
    
    img {
        border-radius: 5px 5px 0 0;
    }
    
    hr {
        display: none;
    }
    
    .drop-btn {
        background-color: rgb(202, 10, 202);
        color: white;
        padding: .4rem 1.5rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        flex-direction: column;
    }
    /* dropdown gotten from w3schools some editing done by me */
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        z-index: -1;
    }
    
    .dropdown-content a {
        color: #333;
        padding: .4rem .5rem;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #fafafa;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 10;
    }
    .drop-menu{
        font-size:.9rem;
    }
    .drop-menu{
        margin-top: 6rem;
        background-color: rgb(92, 91, 91);
        position: fixed;
        width: 100%;
        display: none;
    }
    .drop-menu a{
        text-decoration: none;
        color: #fff;
        text-align: center;
    }
    .drop-menu a li{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .drop-menu a:hover, .drop-menu a:focus li{
        background-color: white;
    }
    .drop-butn:hover .drop-menu{
        display:block;
    }
    
    .dropdown:hover .dropbtn:hover {
        background-color:white;
    }
    
    .form-card {
        background-color: #fff;
        box-shadow: 0 .1rem .1rem .1rem rgb(63, 30, 30);
        margin-top: 4em;
    }
    
    .active {
        opacity: .4;
        pointer-events: none;
    }
    
    .debit {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    
    .hide-l {
        display: none;
    }
    
    #heed {
        position: fixed;
        background-color: rgb(61, 33, 33);
        color: #fff;
        width: 100%;
        margin-top: 0;
        top: 0;
        text-align: left;
        line-height: 3.4rem;
        z-index: 900;
    }
    
    .aside {
        display: none;
        top: 6rem;
        background-color: rgb(63, 58, 63);
    }
    
    .aside h1 {
        margin-bottom: 3rem;
    }
    
    .aside ul {
        width: 100%;
        margin-top: 3rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 8rem;
        justify-content: center;
        text-align: left;
    }
    
    .aside ul li {
        border-bottom: 1px solid #fff;
    }
    
    .aside ul li:first-child {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    
    .aside ul li:last-child {
        border-top: none;
    }
    
    hr {
        display: none;
    }
    
    .aside li a {
        text-align: left;
        color: #fff;
        display: block;
        border-bottom: 1px soild #fff;
        width: 100%;
    }
    
    .aside ul li a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        padding: 0.7rem 0;
    }
    
    .aside ul li a:hover {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: rgb(212, 202, 202);
    }
    
    .one-third {
        flex: 1 0 100%;
        width: 100%;
    }
    
    .two-third {
        flex: 2 0 95%;
        width: 95%;
        padding-top: 3rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
        color: #333;
        flex-direction: column;
    }
    .white{
        color: rgb(249, 91, 249);
    }
    .drop-butn{
        color: rgb(249, 31, 91, 249);
        background-color: #000;
        border: none;
    }
    .drop-btn:hover, .drop-btn:focus{
        border: none;
    }
    
    .b {
        padding-top: 2rem;
        max-height: 300px;
    }
    .hiden{
        display: inline;
    }
    @media (min-width: 700px) {
        .hiden{
            display: none;
        }
        .main {
            width: 100%;
            background-color: none;
            margin-top: 6.4rem;
            color: #800080;
        }
        .form-card {
            position: relative;
            background-color: #fff;
            width: 90%;
            height: 400px;
            padding: 1rem 3rem;
            box-shadow: 0 .1rem .1rem .1rem rgb(194, 194, 194);
            z-index: 90;
        }
        .grid, .container{
            background-color: none;
        }
        .back{
            content: '';
            position: absolute;
            width: 100%;
            height: 720px;
            background-color: rgb(59, 56, 56);
            opacity: .75;
            background-size: 100% 100%;
            background-repeat: repeat;
            z-index: -1;
        }
        .zero{
            z-index: 0;
        }
        .h{
            height: 870px;
        }
        .aside {
            display: block;
            height: 100%;
            background-color:grey;
        }
        .aside h1 {
            margin-bottom: 3rem;
        }
        .aside ul {
            width: 100%;
            margin-top: 3rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 50%;
            justify-content: center;
            text-align: left;
        }
        .aside ul li {
            border-bottom: 1px solid #fff;
        }
        .aside ul li:first-child {
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
        }
        .aside ul li:last-child {
            border-top: none;
        }
        hr {
            margin: 0;
            display: block;
        }
        .aside li a {
            text-align: left;
            color: #fff;
            display: block;
            border-bottom: 1px soild #fff;
            width: 100%;
        }
        .aside ul li a {
            text-decoration: none;
            font-size: 1.2rem;
            color: rgb(34, 31, 31);
            padding: 0.7rem 0;
            text-align: center;
        }
        .aside ul li a:hover {
            text-decoration: none;
            font-size: 1.2rem;
            background-color: rgb(212, 202, 202);
        }
        .hide-l {
            visibility: hidden;
        }
        h1.white{
            color:white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .aside a {
            display: none;
        }
        .main,
        .main-d {
            margin-top: 0;
            background-color: none;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
        }
        .grid-l {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
        }
        .sm-grid {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 16em)) 1fr;
        }
        section.grid {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 15em)) 1fr;
            padding: 0;
        }
        main {
            height: 100%;
        }
        .container {
            grid-column: 2/4;
        }
        .top{
            top:20%;
        }
        .sect form {
            height: 70vh;
        }
        form {
            text-align: left;
        }
        .flex {
            display: flex;
            flex-direction: row;
        }
        .one-third {
            flex: 1 0 20%;
            width: 20%;
            position: fixed;
            min-height: 100%;
            top: 0;
            padding-top: 6rem;
        }
        .two-third {
            flex: 2 0 75%;
            width: 75%;
            padding-top: 7rem;
            margin-left: 20%;
            color: #333;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: auto;
        }
        #input-half {
            float: left;
            width: 48%;
            margin-right: 0;
        }
        #input-half:nth-child(even) {
            padding-right: 2%;
        }
        #input-half:nth-child(odd) {
            padding-left: 2%;
        }
        .account-info li {
            width: 33.3%;
            padding: 1rem 0;
            color: #333;
        }
    }
